@import '~bootstrap/scss/bootstrap.scss';
.custom-bg-main {
    background-color: $red-400;
}

body::before {
    display: block;
    content: '';
    height: 60px;
}

$theme-colors: (
    'red': red,
);

@media screen and (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}
